<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    .box {
      width: 400px;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      align-items: center;
      padding: 8px;
      border-radius: 8px;
      border: solid 1px #ccc;
    }
  </style>
</head>
<body>

<div class="container" style="display: flex; height: 98vh; flex-direction: column; align-items: center; justify-content: center; row-gap: 40px;">
  <form action="/saveNote" method="post">
    {% csrf_token %}
    <div class="box">
      <input type="text" name="note_id" value="{{ note_id }}" hidden />
      <h4>Note</h4>
      <input type="text" name="title" value="{{ title }}" minlength="3" class="form-control" />
      <textarea name="content" class="form-control">{{ content }}</textarea>
      <select name="topic" class="form-control">
        {% for topic in topics %}
          {% if topic.id == topic_id %}
            <option value="{{ topic.id }}" selected>{{ topic.title }}</option>
          {% else %}
            <option value="{{ topic.id }}">{{ topic.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <div>
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>

</body>
</html>