<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<form action="/saveTopic" method="post">
  {% csrf_token %}

  <input type="text" name="topic_id" value="{{ topic_id }}" hidden />

  <input type="text" name="title" value="{{ title }}" minlength="3" />
  <textarea name="description">{{ description }}</textarea>
  <select name="parent">
    {% for topic in topics %}
      {% if topic.id == parent_id %}
        <option value="{{ topic.id }}" selected>{{ topic.title }}</option>
      {% else %}
        <option value="{{ topic.id }}">{{ topic.title }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <input type="submit" value="Save">
</form>

</body>
</html>