<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<form action="/tryLogin" method="post">
  {% csrf_token %}
  {% if login_error %}
  Wrong login/password
  {% endif %}
  <input type="text" name="login" placeholder="Login" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Login">
</form>

<form action="/tryRegister" method="post">
  {% csrf_token %}
  {% if reg_error %}
  User already exists
  {% endif %}
  <input type="text" name="login" placeholder="Login" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Register">
</form>

</body>
</html>