<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<h1>{{ title }}</h1>

{% if topic.public %}
  <h4>In topic {{ topic.title }} by {{ author.username }}</h2>
{% else %}
  <h4>In non-public by {{ author.username }}</h2>
{% endif %}

<p>{{ content }}</p>

{% if can_delete %}
  <button onclick="window.location.href='/deleteNote?note_id={{ note_id }}'">Delete</button>
{% endif %}

{% if can_edit %}
  <button onclick="window.location.href='/editNote?id={{ note_id }}'">Edit</button>
{% endif %}

</body>
</html>